<ion-content>

    <ion-card mode="ios" color="card">
        <ion-img src="/assets/edo3.jpg"></ion-img>

        <ion-card-content>
            Somos estudiantes del Sena y estamos desarrollando un sistema que permita facilitar el trabajo de los cuidadores de personas diagnosticadas con Alzheimer, mediante una alerta emitida al momento de que dicha persona este a punto de salir de su vivienda.
        </ion-card-content>
    </ion-card>
    <div style="text-align: center">

        <ion-button color="primary" (click)="misionAlert()">
            Misión
        </ion-button>
        <ion-button color="primary" (click)="visionAlert()">
            Visión
        </ion-button>

    </div>


</ion-content>