<app-header [titulo]="['Registre un evento']">
  </app-header>
  
  <ion-content>
  
      <!-- Card for adding a new event -->
      <ion-card>
          <ion-card-header tappable (click)="collapseCard = !collapseCard">
              <ion-card-title>Nuevo evento</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="!collapseCard">
  
              <ion-item>
                  <ion-input type="text" placeholder="Titulo" [(ngModel)]="event.Titulo"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="text" placeholder="Descripcion" [(ngModel)]="event.Descripcion"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Inicio</ion-label>
                  <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.Inicio" [min]="minDate"></ion-datetime>
              </ion-item>
              <ion-item>
                  <ion-label>Fin</ion-label>
                  <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.Fin" [min]="minDate"></ion-datetime>
              </ion-item>
              <ion-item>
                  <ion-label>¿Desea el recordatorio todo el día?</ion-label>
                  <ion-checkbox [(ngModel)]="event.Dia"></ion-checkbox>
              </ion-item>
              <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.Titulo == ''">Agregar evento</ion-button>
  
          </ion-card-content>
      </ion-card>
  
  </ion-content>