<app-header></app-header>


<ion-content padding>

    <h1 style="text-align: center" color="titulos">REGISTRO ENCARGADO</h1>
    <div class="regis">
        <form [formGroup]="forma" (ngSubmit)="registrarE(forma)">

            <ion-item >
                <ion-label position="floating">Ingrese su cédula</ion-label>
                <ion-input type="text" formControlName="cc"></ion-input>
            </ion-item>

            <!-- <ion-item *ngIf="forma.get('cc').errors && myForm.get('cc').dirty">
                <p *ngIf="forma.get('cc').hasError('required')">La cédula es requerida</p>
            </ion-item> -->
            <div class="validation-errors">
                <ng-container *ngIf="ccForm.invalid && (ccForm.dirty || ccForm.touched)">
                    <div class="error-message" *ngIf="ccForm.errors.pattern">Solo se permiten números</div>
                    <div class="error-message" *ngIf="ccForm.errors.required">La cédula es requerida</div>
                    <div class="error-message" *ngIf="ccForm.errors.maxlength">Debe contener máximo 10 números</div>
                    <div class="error-message" *ngIf="ccForm.errors.minlength">Debe contener mínimo 8 números</div>
                </ng-container>
            </div>

            <!-- <div class="validation-errors">
                <ng-container *ngFor="let validation of validar_mensaje.use">
                  <div class="error-message" *ngIf="forma.get('cc').hasError(validation.type) && (forma.get('cc').dirty || forma.get('cc').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div> -->


            <ion-item>
                <ion-label position="floating">Ingrese su nombre</ion-label>
                <ion-input type="text" formControlName="nombre"></ion-input>
            </ion-item>

            <div class="validation-errors">
                <ng-container *ngIf="nombreForm.invalid && (nombreForm.dirty || nombreForm.touched)">
                    <div class="error-message" *ngIf="nombreForm.errors.pattern">Solo se permiten letras</div>
                    <div class="error-message" *ngIf="nombreForm.errors.required">El nombre es requerido</div>
                    <div class="error-message" *ngIf="nombreForm.errors.maxlength">Debe contener máximo 30 caracteres</div>
                    
                </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating">Ingrese sus apellidos</ion-label>
                <ion-input type="text" formControlName="apellido"></ion-input>
            </ion-item>

            <div class="validation-errors">
                <ng-container *ngIf="apellidoForm.invalid && (apellidoForm.dirty || apellidoForm.touched)">
                    <div class="error-message" *ngIf="apellidoForm.errors.pattern">Solo se permiten letras</div>
                    <div class="error-message" *ngIf="apellidoForm.errors.required">El apellido es requerido</div>
                    <div class="error-message" *ngIf="apellidoForm.errors.maxlength">Debe contener máximo 30 caracteres</div>
                    
                </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating">Ingrese su número de celular</ion-label>
                <ion-input type="number" formControlName="telefono"></ion-input>
            </ion-item>

            <div class="validation-errors">
                <ng-container *ngIf="telefonoForm.invalid && (telefonoForm.dirty || telefonoForm.touched)">
                    <div class="error-message" *ngIf="telefonoForm.errors.pattern">Solo se permiten números</div>
                    <div class="error-message" *ngIf="telefonoForm.errors.required">El número de celular es requerido</div>
                    <div class="error-message" *ngIf="telefonoForm.errors.maxlength">Debe contener mínimo 10 números y
                         máximo 15 números</div>
                    
                </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating" type="text">Ingrese su contraseña</ion-label>
                <ion-input type="password" formControlName="contrasena"></ion-input>
            </ion-item>

            <div class="validation-errors">
                <ng-container *ngIf="contrasenaForm.invalid && (contrasenaForm.dirty || contrasenaForm.touched)">
                    <div class="error-message" *ngIf="contrasenaForm.errors.required">La contraseña es requerida</div>
                    <div class="error-message" *ngIf="contrasenaForm.errors.pattern">
                        Solo se permiten números y letras, no se permiten caracteres especiales
                    </div>
                    <div class="error-message" *ngIf="contrasenaForm.errors.maxlength">Debe contener máximo 14 caracteres</div>
                    <div class="error-message" *ngIf="contrasenaForm.errors.minlength">Debe contener mínimo 8 caracteres</div>   
                </ng-container>
            </div>

           <ion-item>
                <ion-label position="floating" type="text">Confirmar su contraseña</ion-label>
                <ion-input type="password" formControlName="contrasena_c"></ion-input>
            </ion-item>

            <div class="validation-errors">
                <ng-container *ngIf="contrasenaCForm.invalid && (contrasenaCForm.dirty || contrasenaCForm.touched)">
                    <div class="error-message" *ngIf="contrasenaCForm.errors.error">Las contraseñas no coinciden</div>
                    <div class="error-message" *ngIf="contrasenaCForm.errors.required">Se requiere confirmar la contraseña</div>     
                </ng-container>
            </div>
            <br>

            <ion-button class="btnreg" color="header" type="submit">Registrarse</ion-button>
        </form>



    </div>

</ion-content>