<app-header></app-header>

<ion-content padding>

    <h1 style="text-align: center">REGISTRO PACIENTE</h1>
    <div class="regis">
        <form [formGroup]="forma" (ngSubmit)="registrarP(forma)">

            <ion-item>
                <ion-label position="floating">Ingrese su cedula</ion-label>
                <ion-input type="text" formControlName="cc"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Ingrese su nombre</ion-label>
                <ion-input type="text" formControlName="nombre"></ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="floating">Ingrese sus apellidos</ion-label>
                <ion-input type="text" formControlName="apellidos"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Ingrese su genero</ion-label>
                <ion-input type="text" formControlName="genero"></ion-input>
            </ion-item>

            <ion-item>

                <ion-input type="date" formControlName="fechaNacimiento"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Número de tarjeta</ion-label>
                <ion-input type="text" formControlName="tarjeta"></ion-input>
            </ion-item>


            <ion-button expand="block" fill="outline" class="btnreg" color="header" type="submit">Registrar</ion-button>
        </form>



    </div>

</ion-content>