<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            {{ viewTitle }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="today()">Hoy</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>

    <!-- Card for adding a new event
    <ion-card>
        <ion-card-header tappable (click)="collapseCard = !collapseCard">
            <ion-card-title>Nuevo evento</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="!collapseCard">

            <ion-item>
                <ion-input type="text" placeholder="Titulo" [(ngModel)]="event.Titulo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Descripcion" [(ngModel)]="event.Descripcion"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Inicio</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.Inicio" [min]="minDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Fin</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.Fin" [min]="minDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>¿Desea el recordatorio todo el día?</ion-label>
                <ion-checkbox [(ngModel)]="event.Dia"></ion-checkbox>
            </ion-item>
            <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.Titulo == ''">Agregar evento</ion-button>

        </ion-card-content>
    </ion-card> -->

    <ion-row>
        <!-- Change the displayed calendar mode -->
        <ion-col size="4">
            <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Mes</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Semana</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Dia</ion-button>
        </ion-col>

        <!-- Move back one screen of the slides -->
        <ion-col size="6" text-left>
            <ion-button fill="clear" (click)="back()">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>

        <!-- Move forward one screen of the slides -->
        <ion-col size="6" text-right>
            <ion-button fill="clear" (click)="next()">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" startHour="6"
        endHour="20" step="30" startingDayWeek="1">
    </calendar>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="header" routerLink="/registro-event">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>